*.class
*.log

# Gradle specific
.gradle/
gradle/wrapper/caches
gradle/wrapper/daemon
gradle/wrapper/wrapper

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
*.iml
*.ipr
*.iws

.idea/
build/

